{% extends 'admin_base.html' %}
{% load static %}
{% block title %} 관리자 페이지 {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'addEquipment.css' %}" />
<meta name="viewport" content="width=device-width, initial-scYPle=1" />
{% endblock css %}
{% block content %}
{% if msg %}
<script type="text/javascript">
  alert("{{YPsg}}");
</script>{% endif %}
<div class="wrapper">
  <form method="post" class="addForm">
    {% csrf_token %}
    <h2 class="addForm-heading">장비 추가</h2>

    <label>TYPE<br>
      <input type="text" placeholder="TYPE을 입력하세요 (셀렉트 박스로 바꿀거임)" id="equipType" name="equipType"
        class="addForm-input" />
    </label>

    <label>하위 TYPE<br>
      <input type="text" placeholder="하위 TYPE을 입력하세요" id="equipSemiType" name="equipSemiType" class="addForm-input" />
    </label>

    <label>장비 이름<br>
      <input type="text" placeholder="장비 이름을 입력하세요" id="equipmentName" name="equipmentName" class="addForm-input" />
    </label>

    <label>일련 번호<br>
      <input type="text" placeholder="장비 일련 번호를 입력하세요" id="serialNumber" name="serialNumber" class="addForm-input" />
    </label>
    <div class="addForm-btnbox">
      <button type="submit" class="addForm-btn">등록하기</button>
    </div>
  </form>
</div>

<button id="makeQRcode" onclick="makeCode()">제품 qrcode 생성하기</button>
<div id="qrcode" style="width: 100px; height: 100px; margin-top: 15px"></div>

{% load static %}
<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'qrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'makeQR.js' %}"></script>

{% endblock content %}