{% extends 'admin_base.html' %} 
{% load static %} 
{% block title %} 관리자 페이지 {% endblock title %} 
{% block css %}
<link rel="stylesheet" href="{% static 'addEquipment.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock css %} 
{% block content %}
    {% if msg %}
    <script type="text/javascript">
      alert("{{msg}}");
    </script>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <input
        type="text"
        placeholder="장비 이름"
        id="equipmentName"
        name="equipmentName"
      />
      <input
        type="text"
        placeholder="장비 serial 번호"
        id="serialNumber"
        name="serialNumber"
      />
      <input
        type="text"
        placeholder="장비 type (셀렉트 박스로 바꿀거임)"
        id="equipType"
        name="equipType"
      />
      <input
        type="text"
        placeholder="장비 하위 type"
        id="equipSemiType"
        name="equipSemiType"
      />

      <button type="submit">제품 등록하기</button>
    </form>

    <button id="makeQRcode" onclick="makeCode()">제품 qrcode 생성하기</button>
    <div
      id="qrcode"
      style="width: 100px; height: 100px; margin-top: 15px"
    ></div>

    {% load static %}
    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'qrcode.js' %}"></script>
    <script type="text/javascript" src="{% static 'makeQR.js' %}"></script>

{% endblock content %} 
