{% extends 'base.html' %}
{% load static %}
{% block title %}장비대여하기{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static '1-startpage/main.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock css %}
{% block content %}
    <!-- 스텝 보여주는 부분 -->
    <div class = "step_box">
        <div class= "step" id = "step1">STEP 1</div>
        <div class= "step" id="step2">STEP 2</div>
    </div>
    <!-- 전체 폼 시작 -->
    <form>
        <div>
            <p>1. 예약 날짜 선택</p>
            <input type="date" class="date" name="date">
        </div>
        <div>
            <p>2. 대여 장비 선택</p>
            <div class = "red_menu_box" onclick = "hide(this)">
                <p class = "red_menu_text">카메라</p>
                <p class ="red_menu_text">▼</p>
            </div>
            <div>
                <div class = "white_menu_box" onclick="hide(this)">
                    <p class = "white_menu_text">DSLR</p>
                    <p class ="white_menu_text">▼</p>
                </div>
                <div>
                    <div class = "cam_menu">
                        <div class = "cam_check">
                            <input type="radio" name = "cam" value = "canon_80D">
                            <p>Canon EOS-80D</p>
                        </div>
                        <div class = "black_line"></div>
                        <div>
                            <div class = "chart">
                            <div class = "standard">
                                <p id = "num">수량</p>
                                <p id = "time">시간</p>
                            </div>
                            <div class = 'redbar'></div>
                            <div class= 'charbody'>
                                <div class = 'dotline'></div>
                                <div class = 'bar_body'>
                                    <div class= 'stack' id = 's1'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's2'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's3'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's4'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's5'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's6'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's7'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's8'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's9'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's10'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's11'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's12'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's13'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's14'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's15'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                    <div class= 'stack' id = 's16'>
                                        <div class= "block" id='b1'></div>
                                        <div class= "block" id='b2'></div>
                                        <div class = "block" id = 'blank'></div>
                                        <div class= "block" id='b3'></div>
                                        <div class= "block" id='b4'></div>
                                        <div class= "block" id='b5'></div>
                                        <div class= "block" id='b6'></div>
                                        <div class= "block" id='b7'></div>
                                    </div>
                                </div>
                                <div class = 'grayline'></div>
                                <div class = 'timeline'>
                                    <p> 9 10 11 12 13 14 15 16 17 9 10 11 12 13 14 15 16 17</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class = "cam_menu">
                        <div class = "cam_check">
                            <input type="radio" name = "cam" value = "canon_6D_2">
                            <p>Canon EOS-6D Mark II</p>
                        </div>
                        <div class = "black_line"></div>
                    </div>
                    <div class = "cam_menu">
                        <div class = "cam_check">
                            <input type="radio" name = "cam" value = "canon_550D">
                            <p>Canon EOS-550D</p>
                        </div>
                        <div class = "black_line"></div>
                    </div>
                </div>
                <div class = "white_menu_box" onclick="hide(this)">
                    <p class = "white_menu_text">Camcorder</p>
                    <p class ="white_menu_text">▼</p>
                </div>
                <div>
                    <div class = "cam_menu">
                        <div class = "cam_check">
                            <input type="radio" name = "cam" value = "canon_80D">
                            <p>SONY PXW-Z90</p>
                        </div>
                        <div class = "black_line"></div>
                        <div>여기 대수 그래프 들어감</div>
                    </div>
                    <div class = "cam_menu">
                        <div class = "cam_check">
                            <input type="radio" name = "cam" value = "canon_6D_2">
                            <p>SONY FDR-AX700</p>
                        </div>
                        <div class = "black_line"></div>
                    </div>
                    <div class = "cam_menu">
                        <div class = "cam_check">
                            <input type="radio" name = "cam" value = "canon_550D">
                            <p>SONY HXR-NX5</p>
                        </div>
                        <div class = "black_line"></div>
                    </div>
                    <div class = "cam_menu">
                        <div class = "cam_check">
                            <input type="radio" name = "cam" value = "canon_550D">
                            <p>SONY HXR-NX70</p>
                        </div>
                        <div class = "black_line"></div>
                    </div>
                </div>
            </div>  
            <div class = "red_menu_box" onclick = "hide(this)">
                <p class = "red_menu_text">카메라 보조 장비</p>
                <p class ="red_menu_text">▼</p>
            </div>
            <div>
                <div>
                    <div class = "white_menu_box">
                        <p class = "white_menu_text">짐벌(DJI RONIN-S)</p>
                    </div>
                    <div>
                        <input type = "checkbox">
                    </div>
                </div>
                <div class ="white_box">
                    <div class = "white_menu_box">
                        <p class = "white_menu_text">Tripod (SONY VCT-1170RM)</p>
                    </div>
                    <div>
                        <input type = "checkbox" id = "tripod">
                    </div>
                </div>
                <div class ="white_box">
                    <div class = "white_menu_box">
                        <p class = "white_menu_text">슬라이더 (Edelkrone Wing PRO)</p>
                    </div>
                    <div>
                        <input type = "number" min="0" max="3" step="1" id = "slider">
                    </div>
                </div>
                <div class ="white_box">
                    <div class = "white_menu_box">
                        <p class = "white_menu_text">Memory Card (SDXC 32/64GB)</p>
                    </div>
                    <div>
                        <input type = "number" min="0" max="5" step="1" id = "memory">
                    </div>
                </div>
            </div>
            <div class = "red_menu_box" onclick = "hide(this)">
                <p class = "red_menu_text">녹음 장비</p>
                <p class ="red_menu_text">▼</p>
            </div>
            <div>
                <div class = "white_menu_box" onclick="hide(this)">
                    <p class = "white_menu_text">마이크</p>
                    <p class ="white_menu_text">▼</p>
                </div>
                <div>
                    <div class = "cam_menu">
                        <div class = "cam_check">
                            <input type="checkbox" value = "wireless">
                            <p>Wireless Mic (SONY UWP-D11)</p>
                        </div>
                        <div class = "black_line"></div>
                    </div>
                    <div class = "cam_menu">
                        <div class = "cam_check">
                            <input type="checkbox" value = "shotgun">
                            <p>Camera-Mount Shotgun Mic (SHURE VP83)</p>
                        </div>
                        <div class = "black_line"></div>
                    </div>
                    <div class = "cam_menu">
                        <div class = "cam_check">
                            <input type="checkbox" value = "boom">
                            <p>Boom Mic (RODE NTG-2)</p>
                        </div>
                        <div class = "black_line"></div>
                    </div>
                </div>
                <div class = "white_menu_box" onclick="hide(this)">
                    <p class = "white_menu_text">Recorder</p>
                    <p class ="white_menu_text">▼</p>
                </div>
                <div>
                    <div class = "cam_menu">
                        <div class = "cam_check">
                            <input type="checkbox" value = "recorder">
                            <p>Audio Recorder (TASCAM DR-100mk3)</p>
                        </div>
                        <div class = "black_line"></div>
                    </div>
                </div>
            </div>
            <div class = "red_menu_box" onclick = "hide(this)">
                <p class = "red_menu_text">조명</p>
                <p class ="red_menu_text">▼</p>
            </div>
            <div>
                <div class = "cam_menu">
                    <div class = "cam_check">
                        <input type="checkbox" value = "recorder">
                        <p>LED 조명 (DRACAST SilkRay Panel 400)</p>
                    </div>
                    <div class = "black_line"></div>
                </div>
            </div>   
        </div>
    </form>
    <script type="text/javascript" src="{% static '3-borrow/device_rent.js' %}"></script>
    <script>
            let bar_body = document.getElementByClassName('bar_body')
            const newBlock = document.createElement('div')
            newBlock.setAttribute("class","block")
            blockCount.appendChild(newDiv);
    </script>


{% endblock content %}